<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans spring-beans-4.3.xsd ">
 
 <bean id="app" class="app.Application">
 <property name="amount" value="100"></property>
 <property name="service" ref="axis"></property>
  </bean>
 
 
 <bean id="axis" class="bank.Axis">
 <constructor-arg value="1000"> </constructor-arg>
 </bean>
 
 
 <bean id="sbi" class="bank.SBI">
 <constructor-arg  value="2000"></constructor-arg>
 </bean>
 
 
 
 </beans>
